{% load static %}
<html lang="es">
    
    <head>
        
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Videojuegos & Desarrollo">
        <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
        <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        
        <!-- Link hacia el archivo de estilos css -->
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        
        <style type="text/css">
            
        </style>
        
        <script type="text/javascript">
        
        </script>
        
    </head>
    
    <body>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <form method="POST" action="{% url "apps.usuario:login" %}" class="form-signin">
                        {% csrf_token %}

                        <input type="text" id="id_username" class="form-control" placeholder="Usuario" name="username" required autofocus>
                        
                        <input type="password" id="id_password" class="form-control" placeholder="Contraseña" name="password" required>
                        
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                        
                    </form>
                    <div class="pie-form">
                        <a class="btn btn-primary" href="{%url 'apps.usuario:register'%}">No tenes cuenta Registrate</a>
                    </div>
                </div>
                <div class="inferior">
                    <a href="{% url 'index' %}">Continuar sin Registrarse</a>
                </div>
            </div>
        </div>
            
    </body>
</html>