{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<main>
	<div class="px-4 py-5 my-5 text-center">
		<i class="bi bi-send-check" style="font-size: 5em"></i>
		<h1 class="display-5 fs-2 fw-bold">¡Gracias por contactarse con nosotros!</h1>
		<div class="col-lg-6 mx-auto">
			<p>Su mensaje ha sido enviado correctamente.<br>Le respondoremos tan pronto como sea
				posible su consulta.<br>¡Gracias!</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<a href="{% url 'contacto' %}" class="btn btn-primary btn-lg px-4 gap-3">Volver</a>
			</div>
		</div>
	</div>
</main>
{% endblock contenido %}