{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<section class="container">

    <h1 style="margin-top: 15px ; margin-bottom: 15px"> {{ noticia.titulo }}</h1>
    
        <!--<center><img src="{{MEDIA_ROOT}}/{{noticia.img}}" width="100%" alt=""></center> #Contenido dinámico-->
        <center><img src="static\Imágenes\fotos\bienal.jpg" width="100%" alt="detalle"></center>
        <div class="date" style="margin-bottom: 15px">{{ noticia.creado }}</div>
        <div class="container bg-light">
            <p>
            {{ noticia.contenido|safe|linebreaksbr }}
            </p>
        </div>


    <hr>
    <article class='my-3 p-3 bg-body rounded shadow-sm'>
        <h6 class="border-bottom pb-2 mb-0">Comentarios</h6>
        {% for comentario in comentarios %}
        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div>
                <strong class="text-gray-dark"><p>{{ comentario.autor}}<span> - {{ comentario.creado}}</span></strong>
            </div>
            <span class="d-block">{{ comentario.cuerpo_comentario}}</span>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{formulario.as_p}}
            <button type="submit" class="btn btn-primary">
            Comentar
            </button>
        </form>
        {% else %}
        <div><br>
            <p>
                <a class="btn btn-success" href="{%url 'apps.usuario:login'%}">Iniciar Sesión para comentar</a>
            </p>
        </div>
        </article>
        {% endif %}
    <hr class="featurette-divider">
</section>
{% endblock contenido %}