{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <body>
        <article class="container"><br>
            <center><h2>Imágenes</h2></center>
            <hr class="featurette-divider">
        </article>
        <div class="row row-cols-4">
            {% for foto in imagenes %}
            <div class="col">
                <figure class="mx-auto" style="width: 300px;">
                    <center><a href="{% url 'foto' %}"><img src="static\Imágenes\fotos\20181124_115216.jpg"
                        style="width: 75%;border-radius: 20px;" 
                        class="img-thumbnail" 
                        alt="..."></a></center>
                    <p><center>{{ foto.titulo }}</center></p>
                </figure>
            </div>
            {% endfor %}
        </div>
    </body>
{% endblock contenido %}