{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <body>
        <article class="container"><br>
            <center><h2>Videos</h2></center>
            <hr class="featurette-divider">
        </article>
        <div class="row row-cols-4">
            {% for video in videos %}
            <div class="col">
                <figure class="mx-auto" style="width: 300px;">
                    <center><a href="{% url 'video' %}"><video src='static\Imágenes\fotos\videofundacion.mp4'
                        style="width: 75%;border-radius: 20px;" 
                        class="img-thumbnail" 
                        alt="..."></a></center>
                    <p><center>{{ video.titulo }}</center></p>
                </figure>
            </div>
            {% endfor %}
        </div>
    </body>
{% endblock contenido %}