{% extends 'base.html' %}
{% load static %}
{% block contenido %}
  <body>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="card-group" style="margin-top: 50px">
      <div class="card">
        <img src="{% static 'images/nosotros/RICARDO_SOSA.jpg' %}" min-width="480" height="350" alt="logo-ong">
        <div class="card-body">
          <h5 class="card-title">Ricardo Esteban Sosa</h5>
          <p class="card-text">Presidente de la Fundación y fundador de Memorias de Nuestro Pueblo desde sus inicios, en 2006, como grupo de vecinos primero, Asociación después y desde el 2019 conformada como Fundación.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/nosotros/GISELLE_MONZON.jpg' %}" min-width="480" height="350" alt="logo-ong">
        <div class="card-body">
          <h5 class="card-title">Daniela Giselle Monzon</h5>
          <p class="card-text">Secretaria y miembro activa de Memorias de Nuestro Pueblo. Integra la institución desde el año 2008, colabora permanentemente en las actividades que se llevan a cabo.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static 'images/nosotros/CESAR_CINGOLANI.jpg' %}" min-width="480" height="350" alt="logo-ong">
        <div class="card-body">
          <h5 class="card-title">Julio César Cingolani</h5>
          <p class="card-text">Es Locutor y se encarga de realizar las aperturas y lecturas en eventos de la Fundación. Se encarga de guiar en la producción del programa radial de la Fundación, que se denomina “Memorias de Fontana. Fue director del grupo de teatro que tuvo Memorias en su tiempo como Asociación.</p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Origen de la Fundacion<span class="text-muted"></span></h2>
        <p class="lead">En el año 2019 un grupo de vecinos se unio para crear la Fundacion Memoria de Nuestro Pueblo, justo un año antes de la Pandemia, anteriormente fuimos una Asociacion que se preocupaba por la identidad y la imagen de fontana.</p>
      </div>
      <div class="col-md-5">
        <img src="static/images/nosotros/EDIFICIOFUNDACION.jpg" class="card-img-top" alt="...">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Objetivos Principales.<span class="text-muted"></span></h2>
        <p class="lead">Desarrollar actividades culturales, de entretenimiento y educativas, propiciar acciones con el fin de conservar el Patrimonio cultural, como las construcciones arquitectónicas o inmateriales y todo acervo relacionado con la localidad de Fontana, Chaco.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/images/nosotros/FUNDACIONINICIO.jpg" class="card-img-top" alt="...">
      </div>
    </div>

    

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  




  </body>
  {% endblock contenido%}
